.CountdownBanner {
  text-align: center;
  background-color: #9ebeff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.CountdownBanner-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .CountdownBanner-logo {
    animation: CountdownBanner-logo-spin infinite 20s linear;
  }
}

.CountdownBanner-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.CountdownBanner-link {
  color: #61dafb;
}

@keyframes CountdownBanner-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.CountdownBanner-timer {
  display: flex;
  margin: 0 auto;
}

.CountdownBanner-cell {
  background-color: #fff;
  border-radius: 8px;
  width: 64px;
  height: 64px;
  display: flex;
  margin: 4px;
  align-items: center;
  justify-content: center;
  font-size: 42px;
}
